## Importing data and adding year timestamp

#### The original data were in separate csv files with no timestamp. In order to more easily use the data in Tableau, I have added a year column to each seperate data set.

In [1]:
import pandas as pd

In [2]:
world_2015 = pd.read_csv("world_happiness_data/world_happiness_2015.csv")
year = 2015
world_2015["Year"] = year

In [3]:
world_2016 = pd.read_csv("world_happiness_data/world_happiness_2016.csv")
year = 2016
world_2016["Year"] = year

In [4]:
world_2017 = pd.read_csv("world_happiness_data/world_happiness_2017.csv")
year = 2017
world_2017["Year"] = year

In [5]:
world_2018 = pd.read_csv("world_happiness_data/world_happiness_2018.csv")
year = 2018
world_2018["Year"] = year

In [6]:
world_2019 = pd.read_csv("world_happiness_data/world_happiness_2019.csv")
year = 2019
world_2019["Year"] = year

## Cleaning the columns

#### Some columns were renamed in later years, so I renamed them.

In [7]:
cols15 = ["country", "region", "happiness_rank", "happiness_score",
          "standard_error", "GDP_per_capita", "social_support",
          "health_life_expectancy", "freedom", "trust_gov_corruption",
          "generosity", "dystopia_residual", "year"]

world_2015.columns = cols15

world_2015.head()

,country,region,happiness_rank,happiness_score,standard_error,GDP_per_capita,social_support,health_life_expectancy,freedom,trust_gov_corruption,generosity,dystopia_residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [8]:
cols16 = ["country", "region", "happiness_rank", "happiness_score",
          "lower_confidence_int", "upper_confidence_int", 
          "GDP_per_capita", "social_support", "health_life_expectancy", 
          "freedom", "trust_gov_corruption", "generosity",
          "dystopia_residual", "year"]

world_2016.columns = cols16

world_2016.head()

,country,region,happiness_rank,happiness_score,lower_confidence_int,upper_confidence_int,GDP_per_capita,social_support,health_life_expectancy,freedom,trust_gov_corruption,generosity,dystopia_residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [9]:
cols17 = ["country", "happiness_rank", "happiness_score", 
          "upper_confidence_int", "lower_confidence_int", 
          "GDP_per_capita", "social_support", "health_life_expectancy", 
          "freedom", "generosity", "trust_gov_corruption", 
          "dystopia_residual", "year"]

world_2017.columns = cols17

world_2017.head()

,country,happiness_rank,happiness_score,upper_confidence_int,lower_confidence_int,GDP_per_capita,social_support,health_life_expectancy,freedom,generosity,trust_gov_corruption,dystopia_residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [10]:
cols18 = ["happiness_rank", "country", "happiness_score", 
          "GDP_per_capita", "social_support", "health_life_expectancy", 
          "freedom", "generosity", "trust_gov_corruption", "year"]

world_2018.columns = cols18

world_2018.head()

,happiness_rank,country,happiness_score,GDP_per_capita,social_support,health_life_expectancy,freedom,generosity,trust_gov_corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [11]:
cols19 = ["happiness_rank", "country", "happiness_score", 
          "GDP_per_capita", "social_support", "health_life_expectancy", 
          "freedom", "generosity", "trust_gov_corruption", "year"]

world_2019.columns = cols19

world_2019.head()

,happiness_rank,country,happiness_score,GDP_per_capita,social_support,health_life_expectancy,freedom,generosity,trust_gov_corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## Merging all years

#### After cleaning up the columns I tried to merge the data sets within Tableau, but I could not just add rows without causing some for of error. Here I have just appended the data sets using pandas.

In [12]:
whole_world_happiness_data = world_2015.append(world_2016).append(world_2017).append(world_2018).append(world_2019).reset_index()

whole_world_happiness_data

,index,country,region,happiness_rank,happiness_score,standard_error,GDP_per_capita,social_support,health_life_expectancy,freedom,trust_gov_corruption,generosity,dystopia_residual,year,lower_confidence_int,upper_confidence_int
0,0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN
1,1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN
2,2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN
3,3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN
4,4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,151,Rwanda,NaN,152,3.334,NaN,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019,NaN,NaN
778,152,Tanzania,NaN,153,3.231,NaN,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019,NaN,NaN
779,153,Afghanistan,NaN,154,3.203,NaN,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019,NaN,NaN
780,154,Central African Republic,NaN,155,3.083,NaN,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019,NaN,NaN
781,155,South Sudan,NaN,156,2.853,NaN,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,2019,NaN,NaN

## Export as csv

In [14]:
#world_2015.to_csv("world_data_clean/world_happiness_2015_clean.csv")
#world_2016.to_csv("world_data_clean/world_happiness_2016_clean.csv")
#world_2017.to_csv("world_data_clean/world_happiness_2017_clean.csv")
#world_2018.to_csv("world_data_clean/world_happiness_2018_clean.csv")
#world_2019.to_csv("world_data_clean/world_happiness_2019_clean.csv")

whole_world_happiness_data.to_csv("data/whole_world_happiness_data_clean.csv")